<#@ output extension=".xml" #>
<#@ include file="Variables.t4" #>
<device>
  <sources>
    <source maxitems="<#= playerCount #>" name="Player" sourceid="Player">
      <capabilities>
        <audio roomvolumesource="true"/>
      </capabilities>
      <templates>
        <template name="Music Player"/>
      </templates>
    </source>
  </sources>
</device>